<h1>About</h1>
<p>
We're placing advanced horticultural technology into the hands of the everyday person while providing an online community for growers, teachers, and enthusiasts. Our easy to use gardens allow you to grow an abundance, or likely an overabundance, of herbs and vegetables in a small amount of space and allow you to grow your herbs and vegetables 3 times faster than they would in soil. Botnyst gardens require little tending, do not attract pesky house bugs, and let you customize special parameters like nutrient mix, nutrient cycles, and light cycles... if that's your sort of thing.</p>

<p>
Our online community space is a place where growers can come together and exchange ideas about growing the tartest blueberries or checking out what your friends are growing and how they're growing it. Users and experts can post tips, tutorials, blogs, and videos about getting the most out of your gardens and to exchange recipes based on what you've chosen to grow in your garden. Imagine serving a grilled potato salad sprinkled with fresh oregano plucked just seconds before serving, or treating your friends to your own custom sriracha sauce made from peppers and garlic you grew right in your own kitchen.
</p>

<p>
Botnyst believes in empowering individuals with knowing exactly what's in their food by allowing them the ease of growing it themselves and letting them enjoy a wide variety of food custom grown to their tastes. 
 From urban dwellers with limited space to good ol' country folk with lots of land, our gardens will making your growing fast, bountiful, and hassle-free.

</p>