<footer class="footer">
  <small>
   &copy; Botnyst LLC 2015
   
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News and Media", newsandmedia_path %></li>
    </ul>
  </nav>
</footer>